@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Source+Sans+Pro:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #000000;
}
 
#the {
  font-size: 1rem;
}

#collected {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  padding-left: 2rem;
  text-decoration: none;
  color: #00ccff;
  transition: all 1.5s ease-in-out 1s;
}

#test-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
  justify-content: center;
  border: 1px solid #ffffff;
  margin-left: 5%;
  padding-top: 2rem;
}

.content {
  position: relative;
  width: 80vw;
  min-height: 500px;
  object-fit: cover;
 }

.content-overlay {
  background: #12879f;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;

}

.content:hover .content-overlay {
  opacity: 1;
}

.wine-image {
  width: auto;
  max-width: 100%;
}

.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  opacity: 1;
  top: 50%;
  /*-webkit-transform: translate(-75%, 50%);*/
  /*-moz-transform: translate(-75%, 50%);*/
  /*transform: translate(-75%, 50%);*/
  /*-webkit-transition: all 0.1s ease-out 0s;*/
  /*-moz-transition: all 0.1s ease-out 0s;*/
  /*transition: all 0.1s ease-out 0s;*/
}

/*.content:hover .content-details {*/
/*  top:30%;*/
/*  left: 75%;*/
/*  opacity: 0.98;*/
/*}*/

.content-details h3 {
  color: #da5bda;
  font-family: source sans pro, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 100ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-details h4 {
  font-family: source sans pro, sans-serif;
  color: #ffc11f;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 0.1rem;
}

.content-details li {
  list-style-type: none;
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: left;
  margin-left: -10%;
  padding: 0;
}

footer {
  background-color: #15bbc9;
  opacity: 0.8;
  border-top: 4px solid #ffc11f;
  font-family: source sans pro;
}

form {
color: #ffffff;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px #0000007;
}

/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}

/* Styling form-control Radio
button and Checkbox */

#colour {
  margin-right: 2rem;
}

#grape {
  margin-right: 2rem;
}

/* Styling Button */
button {
  background-color: #000000;
  color: #00ccff;
  border: 1px solid #777;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 650px) {
  .content {
    width: 40vw;
  }

  .content-overlay {
    background: #12879f;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.15s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    opacity: 0;
  }

  .content:hover .content-details {
    top:30%;
    left: 0%;
    opacity: 1;
  }

  .content-details h3 {
    padding-top: 7.5rem;
  }

  form {
    padding-right: 5rem;
  }

  #form-grapes {
    padding-right: 10%;
  }
}

@media only screen and (min-width: 1000px) {

  .content {
    width: 25vw;
  }

  #form-grapes {
    padding-right: 25%;
  }
}